[[source]]
url = "https://mirrors.tuna.tsinghua.edu.cn/pypi/web/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
beautifulsoup4 = "==4.13.4"
httpx = "==0.27.0"
pydantic = "*"

[dev-packages]
basedpyright = "*"
build = "*"
twine = "*"

[requires]
python_version = "3.11"
